<?xml version="1.0"?>
<robot name="fork">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="knife.stl" scale = "0.01 0.01 0.01"/>
      </geometry>
      <material name="brown">
        <color rgba="0.8 0.6 0 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="knife.stl" scale = "0.01 0.01 0.01"/>
      </geometry>
    </collision>
   </link>
</robot>
