<?xml version="1.0"?>
<robot name="fork">
  <link concave="yes" name="base_link">
    <visual>
      <!--<origin xyz="0 0 0" rpy="1.57 0 0" />-->
      <geometry>
        <mesh filename="bowl.obj" scale = "0.001 0.001 0.001"/>
      </geometry>
      <material name="brown">
        <color rgba="0.8 0.6 0 1.0" />
      </material>
    </visual>
    <collision concave="yes">
      <!--<origin xyz="0 0 0" rpy="1.57 0 0" />-->
      <geometry>
        <mesh filename="bowl.obj" scale = "0.001 0.001 0.001"/>
      </geometry>
    </collision>
   </link>
</robot>
